<div id="<%= dom_id plant %>">
  <p>
    <strong>Sci name:</strong>
    <%= plant.sci_name %>
  </p>

  <p>
    <strong>Common name:</strong>
    <%= plant.common_name %>
  </p>

  <p>
    <strong>Green seed start:</strong>
    <%= plant.green_seed_start %>
  </p>

  <p>
    <strong>Seed start:</strong>
    <%= plant.seed_start %>
  </p>

  <p>
    <strong>Begin prod:</strong>
    <%= plant.begin_prod %>
  </p>

  <p>
    <strong>End prod:</strong>
    <%= plant.end_prod %>
  </p>

  <p>
    <strong>Green end prod:</strong>
    <%= plant.green_end_prod %>
  </p>

</div>
