<div id="<%= dom_id garden %>">
  <p>
    <strong>Garden name:</strong>
    <%= garden.garden_name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= garden.start_date %>
  </p>

  <p>
    <strong>Greenhouse:</strong>
    <%= garden.greenhouse %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= garden.public %>
  </p>

</div>
